<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">ANT is a toy store with a nationwide branch. ANT specializes 
          in bringing quality products to all ages. Our working motto is: "Customers are always friends".</p>
        <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
          <a href="https://www.facebook.com/">ATN</a>.
        </p>
      </div>

      <div class="col-xs-6 col-md-6">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/about/">About Us</a></li>
          <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
      </div>
      </ul>
    </div>
  </div>

</footer>