<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h4><B>About</B></h4>
        <p class="text-justify">ANT is a toy store with a nationwide branch. ANT specializes 
          in bringing quality products to all ages. Our working motto is: "Customers are always friends".</p>
        <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
          <a href="https://www.google.com/">ATN</a>.
        </p>
      </div>

      <div class="col-xs-6 col-md-6">
        <h5><i>Quick Links</i></h5>
        <ul class="footer-links">
          <li><a href="http://facebook.com/">About Us</a></li>
          <li><a href="https://www.google.com/maps/place/Lotteria+C%C3%A1ch+M%E1
          %BA%A1ng+Th%C3%A1ng+8/@10.0519374,105.7712341,17z/data=!3m1!4b1!4m5!3m4!1
          s0x31a08806ff83096f:0xd87e495597f7ed8c!8m2!3d10.0519374!4d105.7734228?hl=vi">Sitemap</a></li>
      </div>
      </ul>
    </div>
  </div>

</footer>